.coh-container {
  display: block;
}
.coh-container:before, .coh-container:after {
  clear: both;
  content: " ";
  display: table;
}
.coh-container-boxed {
  max-width: none;
  margin-left: 1.1111111111rem;
  margin-right: 1.1111111111rem;
}
@media (min-width: 565px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 28.0555555556rem;
  }
}
@media (min-width: 768px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 39.3333333333rem;
  }
}
@media (min-width: 1024px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 53.5555555556rem;
  }
}
@media (min-width: 1170px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 61.6666666667rem;
  }
}
@media (min-width: 1400px) {
  .coh-container-boxed {
    margin: 0 auto;
    max-width: 74.4444444444rem;
  }
}
.coh-container-boxed .coh-container-boxed {
  margin-right: auto;
  margin-left: auto;
}
.dx8-aov {
  visibility: hidden;
}
